* {
  font-family: 'Inconsolata-g', 'Consolas', sans-serif;
  color: white;
}

h1, h2, h3 {
  font-family: 'Lobster', cursive;
  font-weight: normal;
  text-align: center;
  font-size: 30px;
}

p {
  font-family: 'Gamja Flower', cursive;
  text-align: center;
  font-size: 2rem;
}
footer {
  font-family: sans-serif;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 4rem;
}
.ContentArea {
  position: relative;
  top: 50%;
  left: 50%;
  width: 40%;
  transform: translateX(-50%);
  margin-top: 10%;

  padding: 20px;
}

body {
  background-color: rgb(95, 241, 103);
  transition: background-color 4s linear;
}

